@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;700&family=Roboto:wght@500;900&display=swap');
/*font-family: 'Rajdhani', sans-serif;
font-family: 'Roboto', sans-serif;*/

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
}
:root{
    --primary-font-color: rgb(235, 23, 32);
    --secondary-font-color: rgb(255, 241, 232);
    --color-white: rgb(255, 255, 255);
    --background-black: rgb(30, 29, 29);
    --color-black: rgb(0, 0, 0);
    --margin-botton: 0.75rem;
}

p, a{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;  
    color: var(--secondary-font-color)  
}
h1,h2,h3{
    font-family:  'Rajdhani', sans-serif;
    font-weight: 900;
    color: var(--primary-font-color);
}
body{
    background-color: var(--background-black);
}

header{
    display: block;
    text-align: center;
    box-shadow: 0 0.1rem  1.5rem var(--primary-font-color) ;

}

header img{
    width: 20rem;
    margin: .75rem;
}
header nav{
    padding-bottom: var(--margin-botton);
}
.menu{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    list-style: none;
    margin-bottom: var(--margin-botton);
    font-size: 1.2rem;  
}

main{
    margin-top: 2rem;
}
